%button {
  -webkit-appearance: none;
  position: relative;
  display: block;
  border: 1px solid transparent;
  font: {
    weight: 600;
    family: "aktiv-grotesk-std", sans-serif;
    size: 18px;
  }
  @extend %font-smoothing;
  cursor: pointer;
  outline: none;
  @include transition-duration(.25s);
  @include transition-property(border-color, background-color);
}

%button--has-arrow {
  padding: {
    top: 10px;
    bottom: 10px;
  }
  border-radius: 20px;
  &:before {
    position: absolute;
    right: 18px;
    line-height: 22px;
  }
  &:focus:before, &:hover:before {
    -webkit-animation: arrow .75s infinite;
    animation: arrow .75s infinite;
  }
}

@-webkit-keyframes arrow {
  50% {
    -webkit-transform: translateX(3px);
    -webkit-animation-timing-function: ease-in-out;
  }
}

@-ms-keyframes arrow {
  50% {
    transform: translateX(3px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes arrow {
  50% {
    transform: translateX(3px);
    animation-timing-function: ease-in-out;
  }
}

.home__join, .modal__submit {
  @extend %button;
  @extend %button--has-arrow;
  background-color: $white;
  color: $red;
}

.home__join {
  padding-left: 22px;
  width: 250px;
  @extend %box-sizing;
  @media (max-width: 519px) {
    margin: {
      right: auto;
      left: auto;
    }
  }
  @media (min-width: 520px) {
    float: right;
  }
}

.modal__submit {
  margin: {
    right: auto;
    left: auto;
  }
  padding-left: 36px;
  width: 150px;
  text-align: left;
}

.help__link--new-discussion, .help__form__submit {
  @extend %button;
  @extend %button--has-arrow;
  background-color: $red;
  color: $white;
}

.help__link--new-discussion {
  margin: {
    right: auto;
    bottom: 14px;
    left: auto;
  }
  width: 90%;
  max-width: 300px;
  @extend %box-sizing;
  @media (max-width: 379px) {
    padding-left: 10%;
  }
  @media (min-width: 380px) {
    padding-left: 68px;
  }
}

.help__category__link--new-discussion {
  @extend %button;
  @extend %button--has-arrow;
  @extend %box-sizing;
  max-width: 300px;
  background-color: $red;
  color: $white;
  @media (max-width: 799px) {
    margin: {
      right: auto;
      bottom: 40px;
      left: auto;
    }
    width: 100%;
  }
  @media (min-width: 800px) {
    width: 40%;
    float: right;
  }
  @media (max-width: 899px) {
    padding-left: 5%;
  }
  @media (min-width: 900px) {
    padding-left: 68px;
  }
}

.help__form__submit {
  margin: {
    top: 42px;
    bottom: 150px;
  }
  width: 100%;
  max-width: 320px;
}

.post__aside__close {
  @extend %button;
  margin-bottom: 24px;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  max-width: 320px;
  border-radius: 20px;
  background-color: $red;
  text-align: center;
  color: $white;
  @include transition-duration(.25s);
  @include transition-property(background-color);
  &.is-disabled {
    background-color: $gray;
    cursor: default;
    &:hover {
      background-color: $gray;
    }
  }
  &:hover {
    background-color: $red-orange;
  }
}
