.filters {
  @media (max-width: 779px) {
    margin-top: 10px;
  }
  @media (min-width: 780px) {
    float: right;
  }
}

.filters__heading {
  margin-right: 5px;
  font: {
    weight: 800;
    size: 9px;
  }
  @extend %font-smoothing;
  text-transform: uppercase;
  color: $gray;
}

.filter {
  &:not(:last-child) {
    &:after {
      content: " /";
      margin: {
        right: 2px;
        left: 2px;
      }
      color: $gray;
    }
  }
}
