.footer {
  padding: {
    top: 48px;
    bottom: 48px;
  }
  position: relative;
  overflow: auto;
  border-top: 1px solid rgba($white, .3);
  background-color: $black;
  box-shadow: 0 -4px 0 0 $black;
  z-index: 2;
  @media (min-width: 780px) {
    min-height: 70vh;
  }
}

.l-wrap--footer {
  margin: {
    right: auto;
    left: auto;
  }
  max-width: 940px;
  @media (max-width: 579px) {
    width: 78%;
  }
  @media (min-width: 580px) {
    width: 90%;
  }
}

.footer__about {
  max-width: 550px;
  font-weight: 300;
  line-height: 1.66;
  color: lighten($d-gray, 18%);
  @media (max-width: 579px) {
    font-size: 15px;
  }
  @media (min-width: 580px) {
    font-size: 18px;
  }
  @media (min-width: 780px) {
    min-height: 222px;
  }
}

.footer__sponsors-wrap {
  margin-top: 60px;
  padding-top: 45px;
  border-top: 1px solid rgba($white, .1);
  @media (min-width: 1040px) {
    margin: {
      right: auto;
      left: auto;
    }
    max-width: 940px;
  }
}

.footer__sponsors {
  margin: {
    right: auto;
    left: auto;
  }
  @media (max-width: 579px) {
    width: 78%;
  }
  @media (min-width: 580px) and (max-width: 1039px) {
    width: 90%;
  }
}

.footer__sponsor {
  margin-bottom: 36px;
  float: left;
  height: 100px;
  background: {
    image: url(/images/sponsors.png);
    size: 100%;
  }
  font: {
    style: italic;
    weight: 300;
    size: 12px;
  }
  text-align: center;
  color: $white;
  opacity: .4;
  @include transition-duration(.25s);
  @include transition-property(opacity);
  &:focus, &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
  &:nth-child(1) {
    background-position: 0 20px;
  }
  @media (max-width: 579px) {
    &:nth-child(odd) {
      margin-right: 18%;
    }
  }
  @media (min-width: 580px) {
    .footer__sponsor {
      margin:0 30px 36px 30px; }
  }
  @media (max-width: 1039px) {
    width: 100px;
    &:nth-child(2) {
      background-position: 0 -84px;
    }
    &:nth-child(3) {
      background-position: 0 -174px;
    }
    &:nth-child(4) {
      background-position: 0 -264px;
    }
    &:nth-child(5) {
      background-position: 0 -355px;
    }
    &:nth-child(6) {
      background-position: 0 108px;
    }
    &:nth-child(7) {
      background-position: 0 -456px;
    }
    &:nth-child(8) {
      background-position: 0 210px;
    }
  }
  @media (min-width: 1040px) {
    width: 90px;
    &:nth-child(2) {
      background-position: 0 -72px;
    }
    &:nth-child(3) {
      background-position: 0 -153px;
    }
    &:nth-child(4) {
      background-position: 0 -236px;
    }
    &:nth-child(5) {
      background-position: 0 -314px;
    }
    &:nth-child(6) {
      background-position: 0 100px;
    }
    &:nth-child(7) {
      background-position: 0 -409px;
    }
    &:nth-child(8) {
      background-position: 0 192px;
    }
  }
}

.footer__sponsor__logo {
  margin-top: 5px;
  width: 100%;
}
