.gems__nav-links {
  margin: {
    top: -21px;
    bottom: 28px;
  }
  padding-bottom: 24px;
  border-bottom: 1px solid $gray;
  text-align: center;
}

.gems__nav-link {
  margin: {
    right: 1px;
    left: 1px;
  }
  display: inline-block;
  height: 30px;
  width: 30px;
  @extend %box-sizing;
  border-radius: 15px;
  font-weight: 800;
  line-height: 30px;
  color: $black;
  @include transition-duration(.25s);
  @include transition-property(background-color, color);
  &:focus, &:hover {
    background-color: $red;
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

.gems__header {
  padding-bottom: 30px;
  overflow: auto;
}

.gems__meter {
  font-size: 12px;
  text-transform: uppercase;
  color: $gray;
  @media (min-width: 780px) {
    float: left;
  }
}

.gems__gem {
  padding: {
    top: 30px;
    bottom: 30px;
  }
  display: block;
  overflow: auto;
  border-bottom: 1px solid $gray;
  &:focus, &:hover {
    .gems__gem__name {
      color: $red;
    }
  }
  &:focus {
    outline: none;
  }
}

.gems__gem__info {
  color: $black;
  @media (min-width: 600px) {
    padding-right: 4%;
    float: left;
  }
  @media (min-width: 600px) and (max-width: 899px) {
    width: 75%;
  }
  @media (min-width: 900px) {
    width: 80%;
  }
}

.gems__gem__name, .gems__gem__downloads__count {
  margin-bottom: 6px;
  font: {
    weight: 800;
    size: 24px;
  }
}

.gems__gem__name {
  color: $black;
  @include transition-duration(.25s);
  @include transition-property(color);
  &:hover {
    color: $red;
  }
}

.gems__gem__downloads__count {
  color: $black;
  @media (max-width: 599px) {
    margin-top: 16px;
  }
  @media (min-width: 600px) {
    float: right;
    text-align: right;
  }
}

.gems__gem__version {
  margin-left: 10px;
  font: {
    style: italic;
    weight: 300;
    size: 18px;
  }
  color: darken($gray, 10%);
}

.gems__gem__downloads__heading {
  margin-top: 10px;
  display: block;
  font: {
    weight: 400;
    size: 12px;
  }
  line-height: 1.66;
  text-transform: uppercase;
}
