.l-wrap--header {
  @media (min-width: 1020px) {
    position: relative;
    max-width: 1100px;
  }
  @media (min-width: 1020px) and (max-width: 1199px) {
    margin: {
      right: 5%;
      left: 5%;
    }
  }
  @media (min-width: 1200px) {
    margin: {
      right: auto;
      left: auto;
    }
  }
}

.header {
  -webkit-transform: translateZ(0); // Weird fix to make transition smoother in Safari
  @media (max-width: 1019px) {
    height: 48px;
  }
  @media (min-width: 1020px) {
    height: 68px;
  }
}

.header--interior {
  border-bottom-style: solid;
  @media (max-width: 1019px) {
    border-bottom: {
      width: 1px;
      color: darken($orange, 12%);
    }
  }
  @media (min-width: 1020px) {
    border-bottom: {
      width: 7px;
      color: $black;
    }
    box-shadow: inset 0 -2px 0 0 rgba($white, .3);
  }
}

.header__logo-wrap {
  position: relative;
  float: left;
  &:focus {
    outline: none;
  }
  &:focus, &:hover {
    .header__logo:before {
      @include rotate(180deg);
    }
  }
  @media (max-width: 1019px) {
    top: 9px;
    left: 5%;
    font-size: 26px;
  }
  @media (min-width: 1020px) {
    top: 12px;
    font-size: 40px;
  }
}

.header__logo {
  position: absolute;
  font-family: "icomoon";
  @extend %font-smoothing;
  color: $white;
  speak: none;
  @include rotate(0deg);
  &:before {
    position: absolute;
    @extend %font-smoothing;
    @include transition-duration(.5s);
    @include transition-property(transform);
  }
  @media (max-width: 1019px) {
    line-height: 32px;
  }
  @media (min-width: 1020px) {
    line-height: 45px;
  }
}

.header__club-sandwich {
  &:before {
    @extend %font-smoothing;
  }
  @media (max-width: 1019px) {
    &:before {
      content: '≡';
      margin-right: 5%;
      padding: 14px;
      position: relative;
      right: -14px;
      float: right;
      font: {
        family: "icomoon";
        size: 20px;
      }
      speak: none;
      color: $white;
      @include transition-duration(.25s);
      @include transition-property(color);
    }
    &:hover:before, &:focus:before {
      color: rgba($white, .3);
    }
  }
  @media (min-width: 1020px) {
    display: none;
  }
}

.header__nav-links-wrap {
  position: absolute;
  @media (max-width: 1019px) {
    top: 0;
    right: -270px;
    width: 270px;
  }
  @media (min-width: 1020px) {
    right: 0;
  }
}

.header__nav-links {
  @media (min-width: 1020px) {
    float: left;
  }
}

.header__nav-link {
  @extend %box-sizing;
  font-weight: 500;
  text-transform: uppercase;
  color: $white;
  @include transition-duration(.25s);
  &:focus {
    outline: none;
  }
  @media (max-width: 1019px) {
    padding: 18px 30px;
    display: block;
    width: 100%;
    border-top: 1px solid darken($orange, 12%);
    @include transition-property(background-color, border-top-color);
    &:last-child {
      border-bottom: 1px solid darken($orange, 12%);
    }
    &:focus, &:hover {
      border-top-color: darken($orange, 16%);
      background-color: darken($orange, 12%);
    }
    &:active, &.is-active {
      background-color: $white;
      color: $red-orange;
    }
  }
  @media (min-width: 1020px) {
    display: inline-block;
    padding: 25px 16px 26px 16px;
    border-bottom: 5px solid transparent;
    @include transition-property(color);
    &:last-child {
      margin-right: -16px;
    }
    &:focus, &:hover {
      color: rgba($white, .3);
    }
    &.is-active {
      position: relative;
      border-bottom-color: $red;
      &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        @include calc(left, "50% - 5px", 50%);
        border: {
          width: 5px 5px 0;
          style: solid;
          color: $red transparent;
        }
        display: block;
      }
    }
  }
  span {
    display: inline-block;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@-moz-document url-prefix() {
  .header__nav-link {
    padding-bottom: 25px;
  }
}

.mobile__header__nav-link {
  @media (max-width: 1019px) {
    span {
      top: 2px;
    }
  }
  @media (min-width: 1020px) {
    display: none;
  }
}

.desktop__header__nav-link {
  @media (max-width: 1019px) {
    display: none;
  }
  @media (min-width: 1020px) {
    position: relative;
    z-index: 1;
    span {
      margin-top: -4px;
      top: 4px;
    }
  }
}

#user_gravatar {
  margin: {
    top: -30px;
    left: 16px;
  }
  position: relative;
  top: 14px;
  height: 40px;
  width: 40px;
  @extend %box-sizing;
  box-shadow: 0 0 0 1px rgba($black, .2);
  border: 2px solid $white;
  border-radius: 20px;
}

.header__popup__nav-links, .home__header__popup__nav-links {
  @media (min-width: 1020px) {
    display: none;
    &.is-expanded {
      margin-top: -7px;
      display: block;
      float: right;
      position: absolute;
      right: 0;
      text-align: right;
    }
    .header__nav-link {
      padding: {
        top: 15px;
        right: 30px;
        bottom: 15px;
      }
      display: block;
      width: 100%;
    }
  }
}

.header__popup__nav-links {
  @media (min-width: 1020px) {
    &.is-expanded {
      width: 180px;
      border-bottom: {
        right-radius: 3px;
        left-radius: 3px;
      }
      box-shadow: 0 2px 0 0 rgba($black, .15);
      background-color: #fa3c29;
    }
    .header__nav-link {
      &:not(:last-child) {
        border-bottom: 1px solid rgba($white, .3);
      }
    }
  }
}

.body--index .header__popup__nav-links {
  @media (min-width: 1020px) {
    &.is-expanded {
      width: 150px;
      top: 0;
      padding-top: 74px;
      border-right: 1px solid rgba($white, .3);
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;
    }
    .header__nav-link {
      border-bottom: 1px solid rgba($white, .3);
    }
  }
}

.header__popup-link {
  @media (max-width: 1019px) {
    display: none;
  }
  @media (min-width: 1020px) {
    margin: {
      right: 5px;
      left: 5px;
    }
    position: relative;
    right: 11px;
    float: right;
    line-height: 70px;
    color: $white;
    z-index: 1;
    @include transition-duration(.25s);
    @include transition-property(color);
    &:hover {
      color: rgba($white, .3);
    }
  }
}
