.home {
  position: relative;
}

.home__image {
  @media (min-width: 900px) {
    position: absolute;
    height: 100%;
    width: 100%;
    background: {
      image: url(/home.svg);
      repeat: no-repeat;
      position: center bottom;
      size: 1200px auto;
    }
    bottom: -43%;
    opacity: .5;
  }
}

.home__image--ghost {
  position: absolute;
  height: 100%;
  width: 100%;
  background: {
    image: url(/home.svg);
    repeat: no-repeat;
    size: 1400px auto;
  }
  opacity: .1;
  @media (max-width: 899px) {
    background-position: center top;
  }
  @media (min-width: 900px) {
    background-position: center bottom;
  }
}

.home__heading {
  margin: {
    right: auto;
    left: auto;
  }
  position: relative;
  width: 90%;
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
  color: $white;
  z-index: 1;
  @media (max-width: 899px) {
    margin-bottom: 40px;
    padding-top: 40px;
    max-width: 400px;
    font-size: 30px;
  }
  @media (min-width: 900px) {
    margin-bottom: 70px;
    padding-top: 90px;
    max-width: 780px;
    font-size: 60px;
  }
}

.home__cta-wrap {
  margin: {
    right: auto;
    left: auto;
  }
  position: relative;
  width: 90%;
  max-width: 460px;
  @media (max-width: 519px) {
    margin-bottom: 80px;
  }
  @media (min-width: 520px) and (max-width: 899px) {
    margin-bottom: 140px;
  }
  @media (min-width: 900px) {
    margin-bottom: 220px;
  }
}

.home__downloads {
  @extend %box-sizing;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: $white;
  @media (max-width: 519px) {
    margin-bottom: 16px;
  }
  @media (min-width: 520px) {
    padding-right: 20px;
    width: 188px;
    float: left;
    border-right: 1px solid #ab262b;
  }
}

.home__downloads__desc {
  font: {
    weight: 300;
    size: 12px;
  }
  text-transform: uppercase;
  @media (max-width: 379px) {
    margin-top: 8px;
    display: block;
  }
}

.home__links {
  margin: {
    right: auto;
    left: auto;
  }
  @media (max-width: 599px) {
    width: 261px;
  }
  @media (min-width: 600px) {
    width: 461px;
  }
}

.home__link {
  padding-top: 14px;
  position: relative;
  top: 3px;
  display: inline-block;
  height: 54px;
  @extend %box-sizing;
  border: {
    width: 2px;
    right: solid;
    left: solid;
    color: $black;
  }
  background: {
    color: $black;
    image: url("/home__link-bg.png");
    repeat: repeat-x;
    position: bottom;
    size: 5px 7px;
  }
  font-size: 12px;
  text: {
    transform: uppercase;
    align: center;
  }
  color: $white;
  z-index: 1;
  @include transition-duration(.25s);
  @include transition-property(top);
  @media (max-width: 599px) {
    width: 130px;
    &:focus, &:hover {
      top: -1px;
    }
  }
  @media (min-width: 600px) {
    width: 230px;
    &:focus, &:hover {
      top: -4px;
    }
  }
  &:first-child {
    margin-right: 1px;
    float: left;
  }
  &:before {
    margin-right: 14px;
    position: relative;
    top: 2px;
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}
