body.has-modal > *:not(.modal-wrap) {
  -webkit-animation: blur .15s linear;
  animation: blur .15s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes blur {
  100% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
}

body.has-modal {
  @media (max-height: 479px) {
    position: relative;
  }
  @media (min-height: 480px) {
    overflow: hidden;
  }
}

.modal-wrap {
  &.is-showing {
    height: 100%;
    width: 100%;
    z-index: 3;
    @media (max-height: 479px) {
      position: absolute;
    }
    @media (min-height: 480px) {
      position: fixed;
    }
  }
}

.modal--sign-in, .modal--sign-up {
  padding: {
    top: 18px;
    bottom: 60px;
  }
  display: block;
  width: 90%;
  max-width: 420px;
  border-radius: 3px;
  background-color: $black;
  opacity: 0;
  z-index: 3;
  @include transition-duration(.5s);
  @include transition-property(top, opacity);
  @include transition-delay(.15s);
  @media (max-width: 465px) {
    margin-left: 5%;
  }
  @media (min-width: 466px) {
    margin-left: -210px;
    left: 50%;
  }
  @media (max-height: 479px) {
    position: absolute;
    top: -150%;
    .modal-wrap.is-showing & {
      top: 60px;
    }
  }
  @media (min-height: 480px) {
    position: fixed;
    top: -100%;
    .modal-wrap.is-showing & {
      top: 50%;
    }
  }
  .modal-wrap.is-showing & {
    opacity: 1;
  }
}

.modal--sign-in {
  @media (min-height: 480px) {
    margin-top: -164px;
  }
}

.modal--sign-up {
  @media (min-height: 480px) {
    margin-top: -200px;
  }
}

.modal__input-wrap {
  margin: {
    right: auto;
    left: auto;
  }
  padding-top: 36px;
  overflow: hidden;
  display: block;
  width: 80%;
  max-width: 300px;
  @extend %box-sizing;
  &:last-of-type {
    margin-bottom: 58px;
  }
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 16px;
  color: lighten($d-gray, 18%);
  @include transition-duration(.25s);
  @include transition-property(color);
  &:hover {
    color: $white;
  }
}

// for when it shows up in IE less than 10;
.modal__label {
  color: $white;
}

.modal__input {
  -webkit-appearance: none;
  padding: 5px;
  width: 100%;
  border: {
    top: none;
    right: none;
    bottom: 1px solid $white;
    left: none;
    radius: 0; // for ios touch devices
  }
  background-color: transparent;
  font: {
    family: "aktiv-grotesk-std", sans-serif;
    weight: 300;
    size: 18px;
  }
  text-align: center;
  color: $white;
  outline: none;
  @include transition-duration(.25s);
  @include transition-property(border-bottom-color);
  &::-webkit-input-placeholder {
    color: lighten($d-gray, 18%);
  }
  &:-moz-placeholder {
    color: lighten($d-gray, 18%);
  }
  &::-moz-placeholder {
    color: lighten($d-gray, 18%);
  }
  &:-ms-input-placeholder {
    color: lighten($d-gray, 18%);
  }
  &:focus {
    border-bottom-color: $blue;
  }
}
