.post__link--posts-by-year {
  @media (max-width: 779px) {
    display: none;
  }
}

.post__link--posts {
  margin-right: -80px;
  padding: {
    top: 5px;
    left: 6px;
  }
  float: left;
  position: relative;
  height: 35px;
  width: 35px;
  @extend %box-sizing;
  border: 2px solid $gray;
  border-radius: 50%;
  font-size: 18px;
  color: $gray;
  @include transition-duration(.25s);
  @include transition-property(border-color);
  @media (max-width: 779px) {
    top: -50px;
  }
  @media (min-width: 780px) {
    top: 23px;
    left: -80px;
  }
  &:before {
    @include transition-duration(.25s);
    @include transition-property(color);
  }
  &:focus, &:hover {
    border-color: $black;
    &:before {
      color: $black;
    }
  }
  &:focus {
    outline: none;
  }
}

.post__date, .post__date--s {
  color: $gray;
}

.post__date--s {
  margin-bottom: 6px;
  font-size: 12px;
  @media (max-width: 779px) {
    margin-top: 50px;
  }
}

.post__title {
  margin-bottom: 20px;
  padding-bottom: 38px;
  display: block;
  border-bottom: 5px solid $gray;
  font-size: 30px;
  // text-transform: uppercase;
}

.post__author--s {
  margin-bottom: 32px;
  font: {
    size: 12px;
    weight: 800;
  }
}

.post__footer, .post--help__footer {
  overflow: auto;
}

.post__footer {
  margin-top: 50px;
  padding-top: 44px;
  border-top: 5px solid $gray;
}

.post--help__footer {
  margin: {
    top: 30px;
    bottom: 40px;
  }
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;
}

.post__avatar, .post__comment__avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  @media (min-width: 460px) {
    float: left;
  }
}

.post__comment__avatar {
  @media (max-width: 459px) {
    display: none;
  }
}

.post__author-wrap {
  margin-top: 4px;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  font-size: 18px;
  line-height: 1.33;
  @media (min-width: 460px) {
  margin-left: 30px;
  padding-left: 30px;
  float: left;
  border-left: 1px solid $gray;
  }
}

.post__comments {
  margin-bottom: 45px;
  overflow: auto;
  border-bottom: 5px solid lighten($gray, 20%);
}

.post__comment__header {
  margin-bottom: 45px;
  padding: 10px 14px;
  overflow: auto;
  clear: both;
  border-left: 10px solid $red;
  background-color: $black;
}

.post__comment__heading, .post__comment__desc {
  font-size: 12px;
  color: $white;
}

.post__comment__heading {
  font-weight: 300;
  line-height: 1.33;
  @media (min-width: 640px) and (max-width: 779px) {
    float: left;
  }
  @media (min-width: 980px) {
    float: left;
  }
}

.post__comment__heading__link {
  font-weight: 800;
  color: $white;
}

.post__comment__desc {
  font-weight: 800;
  text-transform: uppercase;
  @media (max-width: 639px) {
    margin-top: 8px;
    display: inline-block;
  }
  @media (min-width: 640px) and (max-width: 779px) {
    float: right;
  }
  @media (min-width: 780px) and (max-width: 979px) {
    margin-top: 8px;
    display: inline-block;
  }
  @media (min-width: 980px) {
    float: right;
  }
}

.post__comment {
  margin-bottom: 90px;
  @media (min-width: 460px) {
    float: right;
    width: calc(100% - 100px);
  }
  p {
    margin-bottom: 16px;
  }
}

.post__helpful {
  margin-bottom: 30px;
}

.post__helpful--yes, .post__helpful--no {
  margin-right: 10px;
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: $white;
  @include transition-duration(.25s);
  @include transition-property(background-color);
}

.post__helpful--yes {
  background-color: $green;
  &:hover {
    background-color: lighten($green, 10%);
  }
}

.post__helpful--no {
  background-color: $red;
  &:hover {
    background-color: lighten($red, 10%);
  }
}

.post__meta__heading {
  font: {
    weight: 500;
    size: 15px;
  }
  line-height: 1.66;
}

.post__meta {
  margin-bottom: 24px;
  line-height: 1.66;
  color: $gray;
}

.post__aside {
  @media (max-width: 779px) {
    margin-top: 45px;
  }
}

.post__aside__watching {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 5px solid $gray;
  font: {
    weight: 800;
    size: 12px;
  }
  text-transform: uppercase;
}

.post__aside__category {
  margin-bottom: 24px;
  max-width: 320px;
  text-transform: uppercase;
  color: $gray;
  &:before {
    float: right;
    color: $green;
  }
}

.post__aside__heading {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.post__aside__desc {
  margin-bottom: 24px;
  padding-bottom: 24px;
  display: block;
  border-bottom: 1px solid $gray;
  line-height: 1.66;
  color: $gray;
}

.post__aside__permissions__heading, .post__aside__permissions__desc {
  font-size: 12px;
}

.post__aside__permissions__heading {
  margin-bottom: 12px;
  padding-top: 20px;
  border-top: 5px solid $gray;
  text-transform: uppercase;
}

.post__aside__permissions__desc {
  margin-bottom: 18px;
  display: block;
  padding-bottom: 16px;
  border-bottom: 1px solid $gray;
  color: $gray;
}

.post__aside__rss {
  display: block;
  color: $black;
  @include transition-duration(.25s);
  @include transition-property(color);
  &:hover {
    color: $red;
  }
  &:before {
    font-size: 24px;
  }
}
