.status__subheading {
  padding: {
    top: 4px;
    bottom: 4px;
  }
  position: relative;
  border-left: 1px solid $gray;
  font-weight: 600;
  text-transform: uppercase;
  color: $green;
  @media (max-width: 929px) {
    margin-left: 10px;
    padding-left: 16px;
    top: -3px;
    font-size: 22px;
  }
  @media (min-width: 930px) {
    margin-left: 16px;
    padding-left: 30px;
    top: -10px;
    font-size: 30px;
  }
}

.status__refresh {
  margin-top: 40px;
  float: right;
  font-size: 15px;
  color: $gray;
  &:before {
    margin-right: 6px;
  }
}

.status__refresh__count {
  font-weight: 500;
}

.statuses {
  margin-top: 4px;
  // because of the containing overflow auto
  @extend %box-sizing;
  @media (min-width: 700px) {
    padding-right: 60px;
    float: left;
    width: calc(100% - 240px);
  }
}

.status {
  margin-bottom: 35px;
  padding-left: 50px;
  position: relative;
}

.status__heading {
  margin-bottom: 6px;
  font: {
    weight: 600;
    size: 18px;
  }
}

.status__desc {
  font: {
    weight: 300;
    style: italic;
  }
  color: darken($gray, 10%);
}

.status__last-updated {
  font-size: 12px;
  color: darken($gray, 10%);
  @media (min-width: 460px) and (max-width: 699px) {
    position: absolute;
    top: 6px;
    right: 0;
  }
  @media (max-width: 829px) {
    margin-top: 8px;
  }
  @media (min-width: 830px) {
    position: absolute;
    top: 6px;
    right: 0;
  }
}

.status__twitter {
  max-width: 360px;
  @extend %box-sizing;
  @media (max-width: 699px) {
    margin-top: 60px;
  }
  @media (min-width: 700px) {
    float: right;
    width: 240px;
  }
}

.twitter-timeline {
  background: {
    image: url("/light-bg.png");
    size: 3px;
  }
}
