// Layout

.l-col--l {
  margin-bottom: 60px;
}



// Shared

.main--interior {
  padding-bottom: 86px;
}

.page__heading {
  padding-top: 50px;
  padding-bottom: 16px;
  font-size: 48px;
}



// Header

.l-wrap--header {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1100px;
}

.header {
  height: 68px;
}

.header__logo-wrap {
  top: 12px;
  font-size: 40px;
}

.header__nav-links-wrap {
  right: 0;
}



// Footer

.l-wrap--footer {
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.footer__about {
  margin-top: 60px !important;
}

.footer__sponsors-wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 940px;
}

.footer__sponsor {
  margin-right: 30px;
  width: 100px;
}



// Modals

body.has-modal {
  overflow: hidden;
}

.modal-wrap {
  &.is-showing {
    position: absolute;
  }
}

.modal--sign-in, .modal--sign-up {
  margin-left: 5%;
  position: absolute;
  top: -150%;
  .modal-wrap.is-showing & {
    top: 60px;
  }
}
