<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta charset="utf-8" />
  <title>{{ page.title }} - RubyGems Guides</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta http-equiv="Description" name="Description" content="Tutorials, guides, FAQs for RubyGems package management" />
  <meta http-equiv="Keywords" name="Keywords" content="rubygems, gems, programming, ruby, packages" />
  <link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if !IE]>-->
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript">
      window.scrollTo(0, 1);
    </script>
  <!--<![endif]-->
</head>
<body class="default">
<section id="head-wrapper">
  <section id="small-top">
    <header>
      <a href="/">
        <h1>RubyGems Guides</h1>
      </a>
    </header>
  </section>
</section>

<section id="container">
  <div class="nav">
    <span class="previous"><a href="{{ page.previous }}" class="left">&larr; Previous</a></span>
    <span class="next"><a href="{{ page.next }}" class="right">Next &rarr;</a></span>
  </div>
  <section id="content">
    <h1><a href="#">{{ page.title }}</a></h1>
    {{ content }}
  </section>
  <div class="nav">
    <span class="previous"><a href="{{ page.previous }}" class="left">&larr; Previous</a></span>
    <span class="next"><a href="{{ page.next }}" class="right">Next &rarr;</a></span>
  </div>
  <footer>
    <p>
      hosted on <a href="http://pages.github.com/">GitHub</a> | these guides are <a href="https://github.com/rubygems/guides">open source</a> and  <a href="http://creativecommons.org/licenses/by/3.0/">free to remix</a>
    </p>
  </footer>
</section>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10315684-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
